In [35]:
import pandas as pd

In [36]:
stocks=pd.read_csv('http://bit.ly/smallstocks')

In [37]:
stocks.head(4)

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL

In [47]:
stocks[['Date','Close']]

         Date   Close
0  2016-10-03   31.50
1  2016-10-03  112.52
2  2016-10-03   57.42
3  2016-10-04  113.00
4  2016-10-04   57.24
5  2016-10-04   31.35
6  2016-10-05   57.64
7  2016-10-05   31.59
8  2016-10-05  113.05

In [52]:
stocks.set_index('Symbol',inplace=True)

In [56]:
stocks.reset_index(inplace=True)

In [58]:
stocks.set_index(['Symbol','Date'],inplace=True)

In [65]:
stocks.loc[('AAPL','2016-10-03'),:]

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [66]:
stocks.loc[slice(None),['2016-10-03'],:]

                    Close    Volume
Symbol Date
CSCO   2016-10-03   31.50  14070500
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

In [68]:
stocks.loc[:,['Close']]

                    Close
Symbol Date
CSCO   2016-10-03   31.50
AAPL   2016-10-03  112.52
MSFT   2016-10-03   57.42
AAPL   2016-10-04  113.00
MSFT   2016-10-04   57.24
CSCO   2016-10-04   31.35
MSFT   2016-10-05   57.64
CSCO   2016-10-05   31.59
AAPL   2016-10-05  113.05

In [13]:
ser=stocks.groupby(['Symbol','Date']).Close.mean()
ser.head()

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
Name: Close, dtype: float64

In [20]:
stocks.pivot_table(values='Close',index='Symbol',columns='Date')

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [21]:
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [25]:
ser.loc[:,'2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: Close, dtype: float64

In [28]:
stocks.set_index(['Symbol','Date'],inplace=True)

In [29]:
stocks.sort_index(inplace=True)

In [30]:
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [34]:
stocks.loc[('AAPL','2016-10-03'),:]

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64