## Merging Dataframes in pandas
df1.append(df2) -> vertical - by rows 

df1.join(df2) -> join on indexes

#################################################

use these : 

pd.concat([df1,df2]) -> vertical/horizontal - inner/outer join 


pd.merge([df1,df2]) -> many joins

In [10]:
import pandas as pd

In [11]:
#focus on merge dataframe :

In [12]:
train=pd.read_csv("http://bit.ly/kaggletrain")

In [15]:
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [18]:
#Create 2 dataset , and PassengerId is common on both : 
train1=train.loc[:,('PassengerId','Pclass','Name')].copy()
train2=train.loc[:,('PassengerId','Sex','Age')].copy()
print(train1.head(2))
print(train2.head(2))

In [22]:
#now merge both the dataset using merge : 

merged_data=pd.merge(train1,train2)
print(merged_data.head(2))

   PassengerId  Pclass                                               Name  \
0            1       3                            Braund, Mr. Owen Harris
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...

      Sex   Age
0    male  22.0
1  female  38.0

In [ ]:
#now set index as PassengerId
train1.set_index('PassengerId',inplace=True)
train2.set_index('PassengerId',inplace=True)

In [27]:
print(train1.index)
print(train2.index)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
           dtype='int64', name='PassengerId', length=891)
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
           dtype='int64', name='PassengerId', length=891)

In [28]:
#merge using the index :
merged_by_index=pd.merge(train1,train2,left_index=True,right_index=True)
#use left_on or right_on if the index column name is different

In [29]:
print(merged_by_index.head(2))

             Pclass                                               Name  \
PassengerId
1                 3                            Braund, Mr. Owen Harris
2                 1  Cumings, Mrs. John Bradley (Florence Briggs Th...

                Sex   Age
PassengerId
1              male  22.0
2            female  38.0

In [32]:
#four types of joins :
#inner , outer, left and right : 
merged_dataset_left=pd.merge(train1,train2,left_index=True,right_index=True,how="left")